<div class="logo-wrap">
  <a class="logo" [class.width-60]="isCollapsed" href="http://www.zhichiwangluo.com">
    <img src="http://img.zhichiwangluo.com/zcimgdir/album/file_5a0e8d5c97c13.svg" alt="logo">
  </a>
</div>

<ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
  <li class="overview" nz-menu-item >
    <span>
      <i class="jisu-icon icon-overview"></i>
      <span class="nav-text">总览</span>
    </span>
  </li>
</ul>
<div class="line"></div>
<ul nz-menu [nzTheme]="'dark'">
  <ng-container *ngFor="let item of tabBarsData">
    <li  nz-menu-item [style.display]="(item.checked || item.selected)?'':'none'" [routerLink]="['./'+item.router]"
        routerLinkActive="ant-menu-item-selected">
      <span class="router">
        <!--<i class="jisu-icon icon-{{item.icon}}"></i>-->
        <span class="nav-text" [class.width-60]="!isCollapsed">{{item.name}}</span>
      </span>
    </li>
  </ng-container>
</ul>


