<nz-content class="edit-content">
  <div class="title">{{dataId ? '修改管理员信息' : '添加管理员信息'}}</div>
  <div class="content">
    <div nz-row class="form-item">
      <div nz-col [nzSpan]="3" class="more-info-label necessary">
        管理员名称
      </div>
      <div nz-col [nzSpan]="21">
        <input type="text" nz-input [(ngModel)]="adminName">
      </div>
    </div>

    <div nz-row class="form-item">
      <div nz-col [nzSpan]="3" class="more-info-label necessary">
        管理员密码
      </div>
      <div nz-col [nzSpan]="21">
        <input  type="password" nz-input [(ngModel)]="adminPwd" style="width: 180px">
      </div>
    </div>

    <div nz-row class="form-item">
      <div nz-col [nzSpan]="3" class="more-info-label">
        管理员电话
      </div>
      <div nz-col [nzSpan]="21">
        <input type="text" nz-input [(ngModel)]="adminTel">
      </div>
    </div>

    <div nz-row class="form-item">
      <div nz-col [nzSpan]="3" class="more-info-label">
        管理员邮箱
      </div>
      <div nz-col [nzSpan]="21">
        <input  type="text" nz-input [(ngModel)]="adminEmail">
      </div>
    </div>

    <div nz-row class="form-item">
      <div nz-col [nzSpan]="3" class="more-info-label necessary">
        角色
      </div>
      <div nz-col [nzSpan]="21">
        <nz-select  [(ngModel)]="role">
          <nz-option *ngFor="let data of roleList" [nzLabel]="data.name" [nzValue]="data.value"></nz-option>
        </nz-select>
      </div>
    </div>


    <div nz-row class="form-item">
      <div nz-col [nzSpan]="3" class="more-info-label">

      </div>
      <div nz-col [nzSpan]="21">
        <button nz-button [nzSize]="'large'" [nzType]="'primary'" (click)="submitForm()">保存</button>
        <button nz-button [nzType]="'default'" routerLink="/manage/users/admin-list">返回</button>
      </div>
    </div>

  </div>


</nz-content>







