:host {
  height: 100%;
  position: relative;
}
.wrap{
  height:100%;
}
.header {
  font-size: 15px;
}
.detail-wrap {
  width: 75%;
  margin: 0 auto;
}
.title {
  line-height: 40px;
  text-align: center;
  border-bottom: solid 1px #f3f0f0;
}
.new-content {
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid  #f3f0f0;
  line-height: 28px;
  font-size: 16px;
}
.comment-all {
  margin: 20px auto;
  width: 88%;
  height: auto;
  font-weight: 400;
  text-align: left;
  color: #333;
  font-size: 12px;
  line-height: 1;
  overflow: visible;
  background-color: transparent;
}
.clear {
  zoom: 1;
  overflow: hidden;
}
.c-comment-header {
  padding: 11px 0 7px;
  height: 44px;
  line-height: 24px;
  font-size: 16px;
}
.left {
  float: left;
  display: inline;
}
.c-comment-header .c-opinion {
  font-size: 18px;
  color: #191919;
}
.c-comment-header .c-opinion .c-line {
  float: left;
  margin-top: 3px;
  width: 4px;
  height: 19px;
  background: #03a9f4;
  border-radius: 2px;
  margin-right: 12px;
}
em {
  font-style: normal;
}
.right {
  float: right;
  display: inline;
}
.c-comment-header .c-num-red {
  font-size: 22px;
  font-family: "Georgia Regular",Georgia;
  color: #d92227;
}
.remark-box {
  padding: 10px 0px 10px
}
.comment-content {
  border: 1px solid #ccc;
  padding: 20px;
}
.comment-avatar img{
  border-radius: 50%;
}
