:host {
  height: 100%;
  position: relative;
}
.wrap{
  height:100%;
}
.content-wrap {
  display: flex;
  flex-direction: row;
}
.news-box {
  height: 150px;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.news-box:hover {
  background-color: #e8e8e8;
}
.content-box {
  height: 100px;
  display: flex;
  flex-direction: row;
}
.content-box :hover{
  cursor: pointer;
}
.img-box {
  width: 150px;
}
.txt-box {
  padding: 0px 10px;
  overflow: hidden;
}
.txt-box span {
  font-size: 16px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
.txt-box p {
  text-indent: 2em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  color: #999;
  line-height: 25px;
}
.img-box img {
  width: 150px;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}
.footer-box{
  font-size: 12px;
  color: #ccc;
  line-height: 30px;
}


