<!--<quill-editor [(ngModel)]="editorContent"> quill-editor>-->
<nz-content class="edit-content">
  <div class="title">{{dataId ? '编辑新闻' : '添加新闻'}}</div>
  <div class="content">
    <div class="content-layout">
      <div nz-row class="form-item">
        <div nz-col [nzSpan]="3" class="more-info-label necessary">
          新闻分类
        </div>
        <div nz-col [nzSpan]="21">
          <nz-select  [(ngModel)]="category" [nzPlaceHolder]="'请选择分类'">
            <nz-option *ngFor="let data of newsService.categories" [nzLabel]="data.categoryName" [nzValue]="data._id"></nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-row class="form-item">
        <div nz-col [nzSpan]="3" class="more-info-label necessary">
          新闻标题
        </div>
        <div nz-col [nzSpan]="21">
          <input type="text" nz-input [(ngModel)]="title">
        </div>
      </div>

      <div nz-row class="form-item">
        <div nz-col [nzSpan]="3" class="more-info-label necessary">
          新闻简介
        </div>
        <div nz-col [nzSpan]="21">
          <nz-input [nzType]="'textarea'" [(ngModel)]="excerpt" [nzRows]="'4'"></nz-input>
        </div>
      </div>

      <div nz-row class="form-item">
        <div nz-col [nzSpan]="3" class="more-info-label">
          新闻来源
        </div>
        <div nz-col [nzSpan]="21">
          <input type="text" nz-input [(ngModel)]="origin">
        </div>
      </div>

      <div nz-row class="form-item">
        <div nz-col [nzSpan]="3" class="more-info-label">
          作者
        </div>
        <div nz-col [nzSpan]="21">
          <input type="text" nz-input [(ngModel)]="author">
        </div>
      </div>

      <div nz-row class="form-item">
        <div nz-col [nzSpan]="3" class="more-info-label">
          新闻简介图
        </div>
        <div nz-col [nzSpan]="21">
          <div class="add-pic"  *ngIf="!newsImg" id="addPic">
            <i class="anticon anticon-plus"></i>
            暂无图片
          </div>
          <div class="add-pic" *ngIf="newsImg">
            <img src="{{newsImg}}" alt="">
          </div>
          <div style="margin-top: 10px;margin-left: 20px;cursor: pointer">
            <button class="upload-btn" nz-button [nzType]="'primary'">
              <input
                (change)="addNewsImg($event)"
                type="file"
                name="file"
                id = "file"
                accept="image/gif,image/jpg,image/jpeg,image/bmp,image/png"/>上传图片
            </button>
          </div>
        </div>
      </div>

      <div nz-row class="form-item">
        <div nz-col [nzSpan]="3" class="more-info-label necessary">
          详细内容
        </div>
        <div nz-col [nzSpan]="20">
          <quill-editor  #editor [placeholder]="'请输入内容'" [(ngModel)]="content" [style]="{height: '280px'}"></quill-editor>
        </div>
      </div>

      <div nz-row class="form-item">
        <div nz-col [nzSpan]="3" class="more-info-label">

        </div>
        <div nz-col [nzSpan]="21">
          <button nz-button [nzType]="'primary'" (click)="addNews($event)">保存</button>
          <button nz-button [nzType]="'default'" routerLink="/manage/news">返回</button>
        </div>
      </div>
    </div>

  </div>
</nz-content>
