<nz-layout class="table-layout">
  <nz-content>
    <nz-table #nzTable [nzCustomNoResult]="true" [nzAjaxData]="newsService.newsList" [nzShowSizeChanger]="newsService.count > 10" [nzShowQuickJumper]="newsService.count > 10"
              [nzIsPagination]="newsService.count > 10" [nzLoading]="newsService.loading" [(nzPageIndex)]="newsService.page"
              [nzTotal]="newsService.count" [(nzPageSize)]="newsService.pageSize" (nzPageIndexChange)="newsService.getNewsList()"
              (nzPageSizeChange)="newsService.getNewsList()">
      <div noResult class="table-no-result">
        <img src="http://img.zhichiwangluo.com/zcimgdir/album/file_5a324cdbb08af.jpg" alt="">
        <p>无相关数据</p>
      </div>
      <thead nz-thead>
      <tr>
        <th>
        </th>
        <th nz-th>
          <span>新闻标题</span>
        </th>
        <th nz-th>
          <span>新闻作者</span>
        </th>
        <th nz-th>
          <span>新闻发布者</span>
        </th>
        <th nz-th>
          <span>浏览量</span>
          <nz-table-sort></nz-table-sort>
        </th>
        <th nz-th>
          <span>变更时间</span>
          <nz-table-sort></nz-table-sort>
        </th>
        <th nz-th>
          <span>操作</span>
        </th>
      </tr>
      </thead>
      <tbody nz-tbody class="goods-table-body">
      <tr nz-tbody-tr  *ngFor="let data of nzTable.data">
        <label nz-checkbox></label>
        <td>{{data.title}}</td>
        <td>{{data.author}}</td>
        <td>admin</td>
        <td>0</td>
        <td>{{data.update}}</td>
        <td>
          <a (click)="editNews(data._id)">编辑</a>
          <span *ngIf="newsService.newStatus === '1'">
            <span nz-table-divider></span>
            <a>复制</a>
          </span>
          <span *ngIf="newsService.newStatus === '1'">
            <span nz-table-divider></span>
            <nz-popconfirm [nzTitle]="'确定发布该新闻吗？'" (nzOnConfirm)="publish(data._id)">
              <a  nz-popconfirm >发布</a>
            </nz-popconfirm>
          </span>
          <span nz-table-divider></span>
           <a (click)="delete(data._id)">删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-content>
  <nz-footer class="table-flag">
    <label nz-checkbox class="hasChecked">
      <span>已选 0 /10 条新闻</span>
    </label>
    <button nz-button [nzType]="'default'">
      <span>发布</span>
    </button>
    <button nz-button [nzType]="'default'">
      <span>复制</span>
    </button>
    <button nz-button [nzType]="'default'">
      <span>删除</span>
    </button>
    <button nz-button [nzType]="'primary'">
      <i class="anticon anticon-upload"></i>
      <span>导出</span>
    </button>
  </nz-footer>
</nz-layout>
