<nz-layout>
  <ul nz-menu [nzMode]="'horizontal'">
    <li class="type-header" nz-menu-data>评论管理</li>
  </ul>

  <nz-header>
    <nz-popconfirm [nzTitle]="'确定删除这些留言吗？'">
      <button nz-popconfirm nz-button [nzType]="'default'">
        <i class="anticon anticon-delete"></i> 删除
      </button>
    </nz-popconfirm>

  </nz-header>

  <nz-content>
    <nz-table #nzTable [nzCustomNoResult]="true">
      <div noResult class="table-no-result">
        <img src="http://img.zhichiwangluo.com/zcimgdir/album/file_5a324cdbb08af.jpg" alt="">
        <p>无相关数据</p>
      </div>
      <thead nz-thead>
      <tr>
        <th nz-th nzCheckbox>
          <label nz-checkbox></label>
        </th>
        <th nz-th>评论内容</th>
        <th nz-th>评论文章</th>
        <th nz-th>评论时间</th>
        <th nz-th>操作</th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <ng-container>
        <tr></tr>
      </ng-container>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>
