<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
</head>
<body>
<form class="ui form segment" method="post">
    <div class="field required">
        <label>用户名</label>
        <input placeholder="用户名" type="text" name="name" id="name">
    </div>
    <div class="field required">
        <label>密码</label>
        <input placeholder="密码" type="password" name="pwd" id="pwd">
    </div>
    <input type="submit" class="ui button fluid" value="登录" id="login">
</form>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#login").click(function(){
            var username = $("#name").val();
            var password = $("#pwd").val();
            var data = {"name":username,"pwd":password};
            $.ajax({
                url:'/signin',
                type:'post',
                data: data,
                success: function(data,status){
                    if(status == '0'){
                        location.href = 'posts';
                    }
                },
                error: function(data,status){
                    if(status == '1'){
                        location.href = 'signin';
                    }
                }
            });
        });
    });
</script>
</body>
</html>